.boton__pagina__principal__div{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.boton__pagina__principal{
    background-color: transparent;
    border-width: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .boton__pagina__principal{
        width: 1.5rem;
        height: 1.5rem;
    }

    .boton__pagina__principal__div{
        position: absolute;
        top: .5rem;
        left: .5rem;
    }
}