.word__boxes__section{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.word__boxes__box{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: .4rem;
    
}
/* #a4aec4 */
.word__boxes__letter{
    display: flex;
    border: 0.15rem solid #31373d;
    border-radius: 0.5rem;
    height: 4rem;
    width: 4rem;
    font-size: 1.5rem;
    background-color: #dededf;
    justify-content: center;
    align-items: center;
    margin: 0 .2rem 0 .2rem;
    transition: .5s;
}

.shake{
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  30% {
    transform: rotate(-1deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width:768px){
  .word__boxes__letter{
    height: 3rem;
    width: 3rem;
  }
}